<h2><%= @restaurant.name %>'s details</h2>
<h3><%= @restaurant.category %></h3>
<h2> Reviews </h2>
<% @reviews.each do |review| %>
  <ul>
    <li>
      <%= review.content %>
      <%= review.rating %>
    </li>
  </ul>
<% end %>
<%= link_to "Add a review", new_restaurant_review_path(@restaurant) %>


